# Backup files
*.bak

# Log files
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
tags
.clang_complete

### SCons ###
# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite

# Created by https://www.gitignore.io
